{% extends "base.html" %}

{% block mainbody %}

    <form action="/number_grid" method="post">
        {% csrf_token %}

        <div>類別：
            <select id="category" name="category">
            {% for item in category %}
                <option value='{{item.id}}'>{{item.name}}</option>
            {% endfor %}
            </select>  
        </div></br>          
        
        <div>第 <input type="text" name="startVolume"> 期 ~ 第 <input type="text" name="endVolume"> 期 <input type="submit" value="統 計"></div>
    </form> 
    </br>
    {{innerHtml|safe}}    

{% endblock %}