{% extends "base.html" %}

{% block mainbody %}
    <form action="/mylottery_adding" method="post">
        {% csrf_token %}
        <div>類別：</div>
        <select name="category">
        <option value=''></option>
        {% for item in category %}
            <option value='{{item.id}}'>{{item.name}}</option>
        {% endfor %}
        </select>        
                        
        <div>期 號：</div><input type="text" id="volume" name="volume">
        <div>開獎日期：</div><input type="text" id="date" name="date">
        <div>號 碼：</div><input type="text" id="number" name="number">
        <div><input type="submit" value="Submit"></div>
    </form> 
    <div id="box"> {{innerHtml|safe}} </div>     
{% endblock %}